@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'MorrisRomanBlack';
  src: url('./fonts/MorrisRomanBlack.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #122246;
  --foreground: #e9e9e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #122246;
    --foreground: #e9e9e9;
  }
}

html{
  background: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);

}

header{
  color: var(--foreground);
  background: var(--background);
  font-size: large;
}

.morrisFontTitle{
  font-family: 'MorrisRomanBlack';
  font-weight: bold;
  color: white;
  font-size: 42pt;
}

footer{
  color: var(--foreground);
  background-color: var(--background);
}
